$violet: #5c33f6;
$lightGrey: #4c4c4c;
$mistGreen: #43a047;
$lightCream: #f3efe4;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {
    flex-basis: 10%;
    font-size: 12px;
    cursor: pointer;
  }

  &__mobile {
    display: none;
  }

  &__items {
    flex-basis: 35%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-decoration: none;
      li {
        color: $lightGrey;
        margin-right: 18px;
        cursor: pointer;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 16%;
    min-width: 150px;
    &__login {
      font-weight: bold;
    }

    &__register {
      width: 90px;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar__mobile {
    display: inline-block;
    cursor: pointer;
  }

  .navbar__items.open {
    transform: translateY(0);
  }

  .navbar__items {
    background-color: $violet;
    padding: 30px 10px 10px 20px;
    width: 100%;
    position: absolute;
    top: 140%;
    transform: translateY(-150%);
    ul {
      flex-direction: column;
      li {
        margin-bottom: 20px;
        color: white;
        font-weight: bold;

        &:hover {
          color: whitesmoke;
        }
      }
    }
    transition: all 0.3s ease-in-out;
  }

  .navbar__buttons {
    display: none;
  }
}
